*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#070B1A;
    font-family:Poppins, sans-serif;
    color:white;
}

.chat-container{
    display:flex;
    height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#0B1023;
    padding:20px;

    border-right:1px solid rgba(255,255,255,0.05);
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar button{
    width:100%;
    padding:14px;

    border:none;
    border-radius:12px;

    background:#3CEFFF;
    color:#000;

    font-weight:bold;
    cursor:pointer;
}

/* CHAT */

.chat-area{
    flex:1;

    display:flex;
    flex-direction:column;
}

.messages{
    flex:1;

    padding:30px;

    overflow-y:auto;
}

.message{
    max-width:700px;

    padding:15px 20px;
    margin-bottom:20px;

    border-radius:18px;

    line-height:1.5;
}

.user{
    background:#3CEFFF;
    color:black;

    margin-left:auto;
}

.bot{
    background:#141B34;
}

.input-area{
    display:flex;

    padding:20px;

    border-top:1px solid rgba(255,255,255,0.05);
}

.input-area input{
    flex:1;

    padding:16px;

    border:none;
    border-radius:12px;

    background:#11182D;
    color:white;

    outline:none;
}

.input-area button{
    margin-left:10px;

    padding:16px 25px;

    border:none;
    border-radius:12px;

    background:#3CEFFF;

    font-weight:bold;
    cursor:pointer;
}